# FastAPI app dependencies
fastapi
uvicorn[standard]
python-multipart
httpx

# Ethereum blockchain interaction
web3

# MongoDB driver
pymongo

# Dependency management
pip-tools
python-dotenv

# API testing
pytest
pytest-asyncio
