# FastAPI app dependencies
fastapi
uvicorn[standard]
python-multipart
httpx
email-validator

# Ethereum blockchain interaction
web3

# MongoDB async driver
motor

# Dependency management
pip-tools
python-dotenv
pydantic-settings

# API keys dependencies
redis

# API testing
pytest
pytest-asyncio

# Utilities
pandas

# Testing 
aiohttp
psutil
matplotlib
numpy
tqdm
seaborn
requests